body{
    box-sizing: border-box;
    background-color: rgb(245, 252, 252);
}
.colorOpacity{
    box-sizing: border-box;
    width: 100%;
}
.color{
    width: 80%;
    border: solid 2px black;
    background-color:aliceblue;
    margin:auto;
    margin-top: 10px, 20px;
    padding: 5px;
}
.opacity{
    width: 80%;
    border: solid 2px black;
    background-color:aliceblue;
    padding: 5px;
    margin: auto;
}
.valunit{
    clear: both;
    width: 80%;
    border: solid 2px black;
    background-color:aliceblue;
    padding: 5px;
    margin: auto;
}
.colname {
    color: red;
}

.colrgb {
    color: rgb(211, 124, 11);
}

.colrgbper {
    color: rgb(75%, 30%, 69%);
}

.colhexa {
    color: #11b3f3;
}

.scolhexa {
    color: #1b3;
}

p,.colnote {
    font-style: italic;
}
.fullop{
    color: rgb(17, 13, 248);
}
.halfintop{
    color: rgb(17, 13, 248, 0.5);
}
.halfperop{
    color: rgb(17, 13, 248, 50%);
}
h1,p{
    margin: 0;
}
b,i{
    font-size: 30px;
    color: black;
}
.px{
    font-size: 20px;
}
.vh{
    font-size: 4vh;
}
.per{
    font-size: 80%;
}
.int{
    color: rgb(52, 153, 215);
}
.em{
    font-size: 1.5em;
}
.rem{
    font-size: 1.5rem;
}